{{#each recent}}
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <!--Display Name, Calories, Protien, Sugar, Fat, Carbs-->
          <p>
            <strong>Name</strong>: {{name}}</p>
          <p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}
