<!DOCTYPE html>
<html>

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Food Calculator</title>
    <i class='fas fa-bread-slice' style='font-size:36px'></i>
    <i class='fas fa-bacon' style='font-size:36px'></i>
    <i class='fas fa-egg' style='font-size:36px'></i>  
		<i class='fas fa-cheese' style='font-size:36px'></i>
    <i class='fas fa-hamburger' style='font-size:36px'></i>
    <i class='fas fa-pizza-slice' style='font-size:36px'></i>
    <i class='fas fa-pepper-hot' style='font-size:36px'></i>
    </div>
  <!-- Latest compiled and minified CSS & JS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>
