<div id="home">
  <div class="container">
		<div class="row mt-4">
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/blog">Go to Blog</a>
      </div>
			<div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/cms">New Post</a>
      </div>
    </div>

    <!--Row 1: Search Food-->
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="food-container">
					<h1>Food Calculator</h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Search Food</th>
							</tr>
						</thead>
						<tbody>
							<tr id="form-row">
								<form id="author-form">
									<td colspan="4">
										<input placeholder="Enter your food" id="food-name" type="text" />
									</td>
									<td><button type="submit" class="btn btn-success">Search Food</button>
									</td>
								</form>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
    
    <!--Row 2: Select a Food-->
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2>Select a Food</h2>
          <hr>
              <ul id="recent-list" class="list-group">
                    {{#each food}}
                    <li data-id="{{this.id}}" class="list-group-item">
                      <a href="recent/{{this.id}}">{{this.text}}</a>
                      <button class="btn btn-danger float-right delete">ｘ</button>
                    </li>
                    {{/each}}
              </ul>
        </div>
      </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
