  <div class="container">	
	  <div class="jumbotron"> 
    <h1>Calories Counter</h1>
    </div>
<div class="wrapper">
    <div class="row">
			<div class="col-md-12">
          <!--Search Food-->
          <table class="table table-striped">
						<thead>
							<tr>
							</tr>
						</thead>
            <tbody>
							<tr id="form-row">
                <form id="food-form" class="form-inline my-2 my-lg-0">
                  <td colspan="4">
                    <input placeholder="Enter your food" id="food-name" type="text" />
                  </td>  
                  <td><button id="searchButton" class="btn btn-outline-success my-2 my-sm-0" >Search</button></td>
                </form>
              </tr>
					  </tbody>
          </table>
    </div>
  </div> 

  <section class = "main-section">      

    <!--Show the food results here-->
    <div class="row">
			<div class="col-md-12">
          {{> foodResults}}
      </div>
    </div>   
    <br>
    <!--Display recent results here-->
    <div class="row">
        <div class="col-md-12">
            <h3>Recent searches:</h3>
                <div id="test">
                    {{> recent}}
                </div>  
        </div>
    </div>

  </section>   
</div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
