  <div class="container">	
    <div class="jumbotron"> 
      <h1><i class="fas fa-heartbeat" style="font-size:48px;color:red" aria-hidden="true"></i> Calories Counter</h1>
      <hr>
      <h2>Search any food you want here</h2>
      <h2>Then find the calories, carbs, protein, fat, and sugar content of your desirable food.</h2>
      <button id="trackerButton" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#cartModal">View Tracker</button> 
    </div>
    
<div class="wrapper">
    <div class="row">
			<div class="col-md-12">
          <!--Search Food-->
          <table class="table table-striped">
						<thead>
							<tr>
							</tr>
						</thead>
            <tbody>
							<tr id="form-row">
                <form id="food-form" class="form-inline my-2 my-lg-0">
                  <td colspan="4">
                    <input class="form-control form-control-sm" placeholder="Enter your food" id="food-name" type="text" />
                  </td>  
                  <td><button id="searchButton" class="btn btn-outline-success my-2 my-sm-0" >Search</button></td>
                </form>
              </tr>
					  </tbody>
          </table>
    </div>
  </div> 

  <section class = "main-section">      
<!-- Modal -->
            <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Nutrition Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                    <!--Display Name, Calories, Protien, Sugar, Fat, Carbs-->
                  <div id="cartModalView" class="modal-body">

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of Modal --> 
    <!--Show the food results here-->
    <div class="row">
			<div class="col-md-12">
        <h5>Select Food</h5>
          {{> foodResults}}
      </div>
    </div>   
    <br>
    <!--Display recent results here-->
    <div class="row">
        <div class="col-md-12">
            <h5>Recent searches:</h5>
                <div id="test">
                    {{> recent}}
                </div>  
        </div>
    </div>

  </section>   
</div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
