* {
	text-align: center;
}

ul {
  list-style: none;
}
li {
  padding: 20px;
  margin: 10px;
  background: lightgrey;
}

.label {
  font-weight: bold;
}

.add-burger {
  margin-bottom: 5px;
}


.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

body{
	background-color: #E8B92D;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 2;
	color: #333;
}

.jumbotron {
	background-color: #f5f5f5;
}
